USE [master]
GO
/****** Object:  Database [InventoryBac]    Script Date: 10/11/2025 01:18:10 ******/
CREATE DATABASE [InventoryBac]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InventarioBac', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\InventarioBac.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InventarioBac_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\InventarioBac_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InventoryBac].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InventoryBac]
GO
/****** Object:  UserDefinedTableType [dbo].[ProductSaleType]    Script Date: 10/11/2025 01:18:10 ******/
CREATE TYPE [dbo].[ProductSaleType] AS TABLE(
	[ProductId] [int] NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](10, 2) NULL
)
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 10/11/2025 01:18:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[IdEmployee] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NOT NULL,
	[LastName] [varchar](200) NOT NULL,
	[UserName] [varchar](100) NOT NULL,
	[Email] [varchar](200) NULL,
	[PasswordHash] [varchar](400) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[IdRol] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmployee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 10/11/2025 01:18:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[IdProduct] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[code] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 10/11/2025 01:18:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale]    Script Date: 10/11/2025 01:18:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale](
	[IdSale] [int] IDENTITY(1,1) NOT NULL,
	[DateSale] [datetime] NULL,
	[IdSeller] [int] NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSale] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SaleDetail]    Script Date: 10/11/2025 01:18:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleDetail](
	[IdSaleDetail] [int] IDENTITY(1,1) NOT NULL,
	[IdSale] [int] NOT NULL,
	[IdProduct] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[IVA] [decimal](10, 2) NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSaleDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Rol] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Sale] ADD  DEFAULT (getdate()) FOR [DateSale]
GO
ALTER TABLE [dbo].[Sale] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Rol] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Rol]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Employee] ([IdEmployee])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Employee] ([IdEmployee])
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD FOREIGN KEY([IdSeller])
REFERENCES [dbo].[Employee] ([IdEmployee])
GO
ALTER TABLE [dbo].[SaleDetail]  WITH CHECK ADD FOREIGN KEY([IdProduct])
REFERENCES [dbo].[Product] ([IdProduct])
GO
ALTER TABLE [dbo].[SaleDetail]  WITH CHECK ADD FOREIGN KEY([IdSale])
REFERENCES [dbo].[Sale] ([IdSale])
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterSaleCart]    Script Date: 10/11/2025 01:18:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegisterSaleCart]
    @EmployeeId INT,
    @Products ProductSaleType READONLY
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        --  Calcula el total general con IVA
        DECLARE @Total DECIMAL(10,2) = (
            SELECT SUM(Price * Quantity * 1.13)
            FROM @Products
        );

        -- Inserta la venta
        INSERT INTO Sale (DateSale, IdSeller, Total)
        VALUES (GETDATE(), @EmployeeId, @Total);

        DECLARE @IdSale INT = SCOPE_IDENTITY();

        --  Variables del cursor
        DECLARE @ProductId INT, 
                @Quantity INT, 
                @Price DECIMAL(10,2), 
                @IVA DECIMAL(10,2);

        DECLARE prod_cursor CURSOR FOR
        SELECT ProductId, Quantity, Price 
        FROM @Products;

        OPEN prod_cursor;
        FETCH NEXT FROM prod_cursor INTO @ProductId, @Quantity, @Price;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            --  Calcula IVA y total por línea
            SET @IVA = (@Price * @Quantity) * 0.13;

            INSERT INTO SaleDetail (IdSale, IdProduct, Quantity, Price, IVA, Total)
            VALUES (@IdSale, @ProductId, @Quantity, @Price, @IVA, (@Price * @Quantity) + @IVA);

            --  Actualiza stock
            UPDATE Product
            SET Quantity = Quantity - @Quantity
            WHERE IdProduct = @ProductId;

            -- Valida que no quede en negativo
            IF EXISTS (SELECT 1 FROM Product WHERE IdProduct = @ProductId AND Quantity < 0)
            BEGIN
                ROLLBACK TRANSACTION;
                RAISERROR('No hay suficiente stock para el producto %d', 16, 1, @ProductId);
                RETURN;
            END

            FETCH NEXT FROM prod_cursor INTO @ProductId, @Quantity, @Price;
        END

        CLOSE prod_cursor;
        DEALLOCATE prod_cursor;

        COMMIT TRANSACTION;

        --  Devuelve el ID de la venta creada
        SELECT @IdSale AS IdSale;

    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
USE [master]
GO
