html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

label.required::after {
    content: " *";
    color: red;
}

.btn-personal-first {
    background-color: white;
    color: black;
    border: 1px solid black;
    width: 160px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: normal;
    margin-right: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2)
}


.btn-personal-second {
    background-color: #1075BB;
    color: white;
    border: 1px solid #1075BB;
    width: 160px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2)
}